nodered-flow.json
[{"id":"9a8bda6b.489a68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a520a4ac.9a8838","type":"tcp in","z":"9a8bda6b.489a68","name":"","server":"server","host":"","port":"9100","datamode":"single","datatype":"buffer","newline":"","topic":"","base64":false,"x":100,"y":180,"wires":[["d2e3bb66.6d3a78"]]},{"id":"5b75e24f.ddc93c","type":"amazon s3 out","z":"9a8bda6b.489a68","aws":"","bucket":"eprint-test","filename":"","localFilename":"","region":"","name":"","x":550,"y":140,"wires":[]},{"id":"d2e3bb66.6d3a78","type":"function","z":"9a8bda6b.489a68","name":"config","func":"var timestamp = Date.now();\nvar bucket = 'eprint-test';\nvar filename = 'bubu-coffee-shop/'+timestamp+'.pdf';\n\nmsg.filename = filename;\nmsg.bucket = bucket;\nmsg.fileUrl = 'https://'+bucket+'.s3.eu-west-2.amazonaws.com/'+filename;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["5b75e24f.ddc93c","47fa74cf.47aaec"]]},{"id":"47fa74cf.47aaec","type":"debug","z":"9a8bda6b.489a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":260,"wires":[]}]